.container {
  display: flex;
  gap: 25px;
  margin-top: 50px;
  justify-content: center;
}

.picture-side {
  border-right: 2px solid rgba(0, 0, 0, 0.175);
  padding-right: 10px;
}

img {
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.userdata-side {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 15px;
  margin-left: 15px;
}

.userdata {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 25px;
}

.appdata {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}
