<div>
  <aside>
  <figure>
    <img [src]="user()?.image">
  </figure>
  </aside>
  <aside>
    <div>
      {{user()?.first_name}}
    </div>
    <div>
      {{user()?.last_name}}
    </div>
    <div>
      Nombre de Usuario: {{user()?.username}}
    </div>
    <div>
      Email: {{user()?.email}}
    </div>
    <div>
      <div (click)="user()?._id && deleteUser(user()!._id!)">
        Eliminar
      </div>
      <div>
        Actualizar
      </div>
      <div>
        Volver al listado
      </div>
    </div>
  </aside>
</div>
