<div class="container">
  <aside class="picture-side">
    <figure>
      <img [src]="user()?.image">
    </figure>
  </aside>
  <aside class="userdata-side">
    <section class="userdata">
      <div>
        {{user()?.first_name}}
      </div>
      <div>
        {{user()?.last_name}}
      </div>
    </section>
    <section class="appdata">
      <div>
        <span class="bold"> Nombre de Usuario:</span> {{user()?.username}}
      </div>
      <div>
        <span class="bold">Email: </span>{{user()?.email}}
      </div>
    </section>
    <section class="options">
      <app-action-button
        [type]="ButtonType.text",
        [action]="Actions.Delete",
        [isActionLink]="false"
        [user]="user()!"
      ></app-action-button>
      <app-action-button
        [type]="ButtonType.text",
        [action]="Actions.Update",
        [user]="user()!"
        [isActionLink]="true"
      ></app-action-button>
      <app-action-button
        [type]="ButtonType.text",
        [action]="Actions.List"
        [isActionLink]="true"
      ></app-action-button>
    </section>
  </aside>
</div>
