<div class="container">
  <aside class="picture-side">
    <figure>
      <img [src]="user()?.image">
    </figure>
  </aside>
  <aside class="userdata-side">
    <section class="userdata">
      <div>
        {{user()?.first_name}}
      </div>
      <div>
        {{user()?.last_name}}
      </div>
    </section>
    <section class="appdata">
      <div>
        <span class="bold"> Nombre de Usuario:</span> {{user()?.username}}
      </div>
      <div>
        <span class="bold">Email: </span>{{user()?.email}}
      </div>
    </section>
    <section class="options">
      <button class="btn-options" (click)="user()?._id && deleteUser(user()!._id!)">
        Eliminar
      </button>
      <button class="btn-options" [routerLink]="['/updateuser', user()?._id]">
        Actualizar
      </button>
      <button class="btn-options" [routerLink]="['/home']">
        Volver al listado
      </button>
    </section>
  </aside>
</div>
