#navigation {
  display: flex;
  align-items: baseline;
  border-bottom-style: solid;
  border-bottom-color: #d5d0d0;
}

.brand {
  margin: 0;
  display: flex;
  flex-grow: 30;
  font-weight: bold;
}

.brand img {
  object-fit: cover;
  display: block;
  width: 50px;
  height: 47px;
  cursor: pointer;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
  flex-grow: 1;
}

li {
  font-size: 20px;
}

a.active {
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}
