<div class="container">
  <article>
    <figure>
      <img class="user-picture" [src]="user()?.image">
    </figure>
    <div class="user-name">
      {{user()?.first_name}} {{user()?.last_name}}
    </div>
    <section class="options">
      <app-action-button
        [type]="ButtonType.image",
        [action]="Actions.View",
        [isActionLink]="true"
        [user]="user()!"
      />
      <app-action-button
        [type]="ButtonType.image",
        [action]="Actions.Update",
        [isActionLink]="true"
        [user]="user()!"
      />
      <app-action-button
        [type]="ButtonType.image",
        [action]="Actions.Delete",
        [isActionLink]="false"
        [user]="user()!"
      />
    </section>
  </article>
</div>
